.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchbar{
  display: flex;
  align-items: center;
  height:80px;
  margin-top: 10px;
}

.memes{
  max-height:calc(100% - 90px);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.memes img {
  margin:16px;
}


